#footer{
    min-height: 30px;
    min-width: 1000px;
    margin-left: 45%;
    margin-top: 10%;
    color: rgb(114, 111, 111);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

