#kayit-div{
    margin-top: 10%;
    display: block;
}

#button1{
    margin-top: 3%;
    margin-left: 5%;
}

#button1 > a{
    text-decoration: none;
    color: black;
}
#div1{
    margin-top: 0.5%;
    margin-left: 0.5%;
}

#div1 > button{
    font-size: 30px;
}

#div1 > div{
    font-size: 26px;
}

